<hr>
<div class="section" id="support">
<h1>Support Us!</h1>
<div id="wepay">
<a class="wepay-widget-button" id="wepay_widget_anchor_522f9e7ede469" href="https://www.wepay.com/donations/2077477850">Donate</a><script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 2077477850,widget_type: "donation_campaign",anchor_id: "wepay_widget_anchor_522f9e7ede469",widget_options: {donor_chooses: true,reference_id: ""}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>
</div>
<p><strong>OROR</strong> is about supporting the creative projects that make Portland great. We want to celebrate innovation on the fringe and inspired by the XOXO. Whether it's artists, technologists, craftsmen or otherwise, we understand that often the most exciting innovations arise out of experimentation and diversity.</p>
<p>&nbsp;</p>
<p> This is our first year building a conference structure based on radical inclusion. It's made for you, by you.</p> 
<p>&nbsp;</p>
<p>We are working hard to make this a free festival, but we can't do it without a little help.  If you or your business are inspired by what we are doing (and you have a few extra dollars) please consider making a small donation to help us cover basics costs.</p>
<p>&nbsp;</p>
<p><small>Please note that we did not have time to achieve 501c3 non-profit status this year.  Your donation won't qualify for a tax deduction, but you can feel pride in knowing that every dollar you give will help reduce the barrier of entry for someone else.</small></p>
</div>
