<div class="section" id="who">
     <div id="pdx">
        <h2 id="from_here">From Here?</h2>   
        <p>Come rub shoulders with fellow Portlanders and talk about what matters to us at the intersection of art, design, technology and local civic issues.</p>
         <p><em>Got something to say?</em> We’ll have a <em>calendar</em> up soon where you can post your own event.</p>
        </div>
        
        <div id="visitors">
        <h2>In town for <a href="http://xoxofest.com">XOXO</a>?</h2>
        <p>OROR is your chance to go off-campus and meet some of the most interesting people and projects in the city you're visiting.</p>
        </div>
        
</div>