/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body, h1, h2, h3 {
    font-family: Oswald, Arial, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

body {
    background: #A2C44A;
}

#main {
        float: left;
        margin-top: 10%;
        width: 100%;
        text-align: center;
}
#main h1 {
    font-size: 190px;
    text-align: center;
    width: 100%;
    float: left;
    font-weight: 300;

}

#main h2 {
    font-size: 55px;
    border: 15px solid white;
    text-transform: uppercase;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 40px;
    text-align: left;
    line-height: 62px;
}

#header {
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    height: 60px;    
    float: left;
    padding: 20px 10%;
}

#header a {
    width: 20%;
    text-align: center;
    float: left;
}
#header a:first-child {
    text-align: left;
}
#header a:last-child {
    text-align: right;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

