---
layout: base
---

<!-- Above the fold content-->
<div id="main">
  {{ content }}
</div>
{% include who.html %}
<!-- load sections -->
{% assign sorted_pages = site.pages | sort:"name" %}
{% for sec in sorted_pages %}
    {% if sec.name == 'what' %}
        <div class="section" id="{{ sec.name }}">
        	<br>
          {{ sec.content | markdownify }}
            {% include eventlist.html %}
      </div>
      {%elsif sec.name == 'when' %}
        <div class="section" id="{{ sec.name }}">
        	<br>
          {{ sec.content | markdownify }}
            {% include eventshortlist.html %}
      </div>
    {% elsif page.name != sec.name and sec.name != 'notfound' and sec.name != 'what' %}
        <div class="section" id="{{ sec.name }}">
        	<br>
          {{ sec.content | markdownify }}
        </div>   
    {% endif %}
{% endfor %}

{% include support.html %}

